<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.radiusnetworks.campaignkitreference"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <!-- minimum permissions for ibeacons -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- gives permission to wake up app long enough to send campaign request while app is in background (every 5 min) -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.radiusnetworks.campaignkitreference.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.radiusnetworks.campaignkitreference.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.radiusnetworks.campaignkitreference.DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName="com.radiusnetworks.campaignkitreference.MainActivity"
            android:screenOrientation="portrait" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>